body{
	width: 100%;
  height: 100%;
	margin: 0px;
	padding: 0px;
	background: #fc0;
  overflow-x: hidden;
}



::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #fc0;
  border-left: 2px solid black;
}


.novo{
	display: none
}
.icone:hover .novo{
	display: inline-block
}
.icone:hover .antigo{
	display: none
}
.fas{
	color:rgba(255,255,255,.65)
}
.icone:hover .fas{
	color:rgba(255,255,255,.85)
}
.icone-admin{
  color: #cc0000!important;
  opacity: 0.80
}
.icone-admin:hover{
  color: #cc0000;
  opacity: 0.90 
}
.fab{
  color: #cc0000;
  opacity: 0.80
}
.icone-admin:hover .fab{
  color: #cc0000;
  opacity: 0.90
}
.footer{
	position: relative;
	bottom: 0px;
	width: 100%;
	border-radius: 0px;
	border: none;
	background-color: transparent
}
.footer_titulo{
	border-radius: 0px!important;
	background-color: #343a40;
	color: white
}
.footer_corpo{
	background-color: #000;
	color: white
}
#subir{
	float: right;
	position:relative;
	right:0px
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#nomeUsuario, #sobrenomeUsuario{
  text-transform: capitalize;
}

/*  FOOTER  */
footer.page-footer {
  bottom: 0;
  color: #fff;
}
footer.page-footer .container-fluid {
    width: auto;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
}
footer.page-footer a {
    color: #fff;
}
.font-small {
    font-size: 0.9rem;
}
.elegant-color-dark {
  background-color: #212121 !important;
}
.elegant-color-dark.darken-3 {
  background-color: #212121 !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.fa-instagram{
   background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);      
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.red{
  color: #BC0213;
}
.mlc{
  color: #fc0;
}

/*  TEAM  */

.container-sobre {
  padding-top: 5%;
  text-align: center;
}h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}
p {
  font-size: 18px;
}
.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}
a:link{
  text-decoration:none;
}

/*  THREE  */

/* --------- THREE --------- */ 


.three {
  list-style: none;
  padding: 0;
  margin: 100px 0;
}
.three > li {
  background: #FFFFFF;
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 430px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
.three > li img {
  width: 120px;
  margin-top: 60px;
}
.three > li:hover img {
  margin-top: 40px;
}
.three > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
}
.three > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  bottom: -400px;
}
.three > li:hover h3 {
  color: rgba(255,255,255,1);
  margin-top: 25px;
}
.three > li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 430px;
}
.three > li span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 500px;
  width: 500px;
  background: #000;
  display: block;
  position: absolute;
  bottom: 150px;
  left: -125px;
}
.three > li span img {
  margin-top: 10px;
  width: 50px;
}
.three > li span:hover {
  background: #000;
}
.three > li span i {
  width: 40px;
  align-items: center;
  position: absolute;
  bottom: -90px;
  color: #000;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid #000;
  padding: 10px 2px;
  font-style: normal;
  left: 230px;
}
.three > li span .mamber-img {
  width: 120px;
  margin-top: 170px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.three > li span .mamber-img + h3 {
  margin-top: 20px;
}
.three > li h3 {
  margin-top: 40px;
  color: rgba(255,255,255,1);
}
.three > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}
.three .social {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.three .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}
.three > li:hover .social li {
  opacity: 0.8;
}
.three .social li a {
  cursor: pointer;
  display: block;
}
.three .social li a:hover {
  opacity: 0.75;
}
.three .social li i {
  width: 24px;
}
.social > li i {
  font-size: 25px;
  display: none;
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}
.three > li:hover i {
  display: block;
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
}
.menus_unidos{
  display: inline-grid;
}
.menu_conta{
  margin-left: 135px;
  position: relative;
  float: left;
}
.menu_conta ul{
  border: none;
}
.menu_conta ul li{
  border: none;
}
.menu_conta ul li a{
  font-size: 18px;
  font-weight: 600;
  color:rgba(0,0,0,.65)!important;
  border: 1px solid transparent!important;
  border-bottom-left-radius:.50rem;
  border-bottom-right-radius:.50rem;
}
.menu_conta ul li a:hover{
  color:rgba(0,0,0,.85)!important;
  border: 1px solid transparent!important;
}
.menu_conta ul li a.active{
  background-color: #212121!important;
  color: #fff!important;
}


/* ----- LABEL -----*/



.addon {
  position:absolute;
  top:25%; right:2.5%;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
}
.fa-eye{
  right: 3%;
  color: transparent;
}
.fa-eye-slash{
    color: black;
}
.addon-g:active .fa-eye{
  color: black;
}
.addon-g:active .fa-eye-slash{
    color: transparent;
}
.input-group-senha {
  position: relative;
}

.input-group-senha input {
  width: 100%;
}
#progress-bar::-webkit-progress-value {
background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
}



.parallax {
  background-image: url("incluir/imagens/img_01.jpg");

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
.parallax1 {
  background-image: url("incluir/imagens/img_02.jpg");

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax1 {
    background-attachment: scroll;
  }
}



.dog{
  background-color: ;
}
/*
.olho:active .iris{
  background-color: red;
}
*/
.lhama{
  background-color: #FFCCE5;
}
.cara{
  background-image: url("incluir/imagens/lhama_branca.png");
  width: 500px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 60%;
}
.cara:active{
  background-image: url("incluir/imagens/lhama_branca_lingua.png");
}
.face{
  background-image: url("incluir/imagens/dog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  width: 1000px;
  user-select: none;
  min-width: 1000px;
  justify-content: center;
}
.olhos{
  height: 100%;
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}
.olho{
  width: 80px;
  height: 80px;
  background-color: #000;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.iris{
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}
.dog_nadando{
  background-color: #DEB887;
}
.agua{
  -webkit-mask-box-image: url('https://freepik.cdnpk.net/img/video/unicorn/mask.svg');
  mask-image: url('https://freepik.cdnpk.net/img/video/unicorn/mask.svg');
  background:  linear-gradient( -0.2turn, #36486f, #6495ed, #7299df, #286ce6 );
}
.doggo{
  background-image: url("incluir/imagens/gif_dog_nadando.gif");
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.finalizar_reserva{
  position: fixed;
  width: 150px;
  height: 75px;
  right: 0;
  bottom: 0;
  margin: 6px;
}