/*!
 * application style overrides and customizations
 */

/* note that this gets overridden by bootstrap-responsive.min.css when screen size changes */
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 {
	margin-bottom: 8px;
}

hr {
	margin: 10px 0px 10px 0px;
}

p.buttonContainer {

}

table.collection tr:hover {
    cursor: pointer;
}

table.collection th:hover {
    cursor: pointer;
    opacity: 0.5;
}

.date-picker input
{
	width: 80px;
}

.date-picker i
{
	color: #999;
	margin-top: 2px;
	margin-left: -1px;
}

.bootstrap-timepicker-component input
{
	width: 70px;
}

.bootstrap-timepicker-component i
{
	color: #999;
	margin-top: 3px;
	margin-left: 0px;
}

.searchContainer input, searchContainer button
{
	margin-top: 8px;
}

.searchContainer input
{
	margin-top: 8px;
}

/* search filter button */
.input-append button.add-on {
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
}

span.loader {
	margin: 0px;
	display: inline-block;
	width: 100%;
}

span.loader .bar {
	display: inline-block;
	width: 100%;
	height: 30px;
}

/* form controls */
span.help-inline {
	font-size: .9em;
	font-style: italic;
	padding-top: 5px;
	color: #999;
}

/* fixes spacing glitch with combo-box followed by an empty inline help */
span.help-inline:empty {
	display: none;
}
.btn-botao{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion:reduce){
.btn-botao{transition:none}
}
.btn-botao:hover{color:#212529;text-decoration:none}
.btn-botao.focus,.btn-botao:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}
.btn-botao.disabled,.btn-botao:disabled{opacity:.65}
a.btn-botao.disabled,fieldset:disabled a.btn-botao{pointer-events:none}
.btn-botao-primary{color:#fff;background-color:#007bff;border-color:#007bff}.btn-botao-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}.btn-botao-primary.focus,.btn-botao-primary:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}.btn-botao-primary.disabled,.btn-botao-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff}.btn-botao-primary:not(:disabled):not(.disabled).active,.btn-botao-primary:not(:disabled):not(.disabled):active,.show>.btn-botao-primary.dropdown-toggle{color:#fff;background-color:#0062cc;border-color:#005cbf}.btn-botao-primary:not(:disabled):not(.disabled).active:focus,.btn-botao-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}.btn-botao-secondary{color:#fff;background-color:#6c757d;border-color:#6c757d}.btn-botao-secondary:hover{color:#fff;background-color:#5a6268;border-color:#545b62}.btn-botao-secondary.focus,.btn-botao-secondary:focus{box-shadow:0 0 0 .2rem rgba(130,138,145,.5)}.btn-botao-secondary.disabled,.btn-botao-secondary:disabled{color:#fff;background-color:#6c757d;border-color:#6c757d}.btn-botao-secondary:not(:disabled):not(.disabled).active,.btn-botao-secondary:not(:disabled):not(.disabled):active,.show>.btn-botao-secondary.dropdown-toggle{color:#fff;background-color:#545b62;border-color:#4e555b}.btn-botao-secondary:not(:disabled):not(.disabled).active:focus,.btn-botao-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(130,138,145,.5)}.btn-botao-success{color:#fff;background-color:#28a745;border-color:#28a745}.btn-botao-success:hover{color:#fff;background-color:#218838;border-color:#1e7e34}.btn-botao-success.focus,.btn-botao-success:focus{box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}.btn-botao-success.disabled,.btn-botao-success:disabled{color:#fff;background-color:#28a745;border-color:#28a745}.btn-botao-success:not(:disabled):not(.disabled).active,.btn-botao-success:not(:disabled):not(.disabled):active,.show>.btn-botao-success.dropdown-toggle{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-botao-success:not(:disabled):not(.disabled).active:focus,.btn-botao-success:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}.btn-botao-info{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-botao-info:hover{color:#fff;background-color:#138496;border-color:#117a8b}.btn-botao-info.focus,.btn-botao-info:focus{box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}.btn-botao-info.disabled,.btn-botao-info:disabled{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-botao-info:not(:disabled):not(.disabled).active,.btn-botao-info:not(:disabled):not(.disabled):active,.show>.btn-botao-info.dropdown-toggle{color:#fff;background-color:#117a8b;border-color:#10707f}.btn-botao-info:not(:disabled):not(.disabled).active:focus,.btn-botao-info:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}.btn-botao-warning{color:#212529;background-color:#ffc107;border-color:#ffc107}.btn-botao-warning:hover{color:#212529;background-color:#e0a800;border-color:#d39e00}.btn-botao-warning.focus,.btn-botao-warning:focus{box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}.btn-botao-warning.disabled,.btn-botao-warning:disabled{color:#212529;background-color:#ffc107;border-color:#ffc107}.btn-botao-warning:not(:disabled):not(.disabled).active,.btn-botao-warning:not(:disabled):not(.disabled):active,.show>.btn-botao-warning.dropdown-toggle{color:#212529;background-color:#d39e00;border-color:#c69500}.btn-botao-warning:not(:disabled):not(.disabled).active:focus,.btn-botao-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-warning.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}.btn-botao-danger{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-botao-danger:hover{color:#fff;background-color:#c82333;border-color:#bd2130}.btn-botao-danger.focus,.btn-botao-danger:focus{box-shadow:0 0 0 .2rem rgba(225,83,97,.5)}.btn-botao-danger.disabled,.btn-botao-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-botao-danger:not(:disabled):not(.disabled).active,.btn-botao-danger:not(:disabled):not(.disabled):active,.show>.btn-botao-danger.dropdown-toggle{color:#fff;background-color:#bd2130;border-color:#b21f2d}.btn-botao-danger:not(:disabled):not(.disabled).active:focus,.btn-botao-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-danger.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(225,83,97,.5)}.btn-botao-light{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}.btn-botao-light:hover{color:#212529;background-color:#e2e6ea;border-color:#dae0e5}.btn-botao-light.focus,.btn-botao-light:focus{box-shadow:0 0 0 .2rem rgba(216,217,219,.5)}.btn-botao-light.disabled,.btn-botao-light:disabled{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}.btn-botao-light:not(:disabled):not(.disabled).active,.btn-botao-light:not(:disabled):not(.disabled):active,.show>.btn-botao-light.dropdown-toggle{color:#212529;background-color:#dae0e5;border-color:#d3d9df}.btn-botao-light:not(:disabled):not(.disabled).active:focus,.btn-botao-light:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-light.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(216,217,219,.5)}.btn-botao-dark{color:#fff;background-color:#343a40;border-color:#343a40}.btn-botao-dark:hover{color:#fff;background-color:#23272b;border-color:#1d2124}.btn-botao-dark.focus,.btn-botao-dark:focus{box-shadow:0 0 0 .2rem rgba(82,88,93,.5)}.btn-botao-dark.disabled,.btn-botao-dark:disabled{color:#fff;background-color:#343a40;border-color:#343a40}.btn-botao-dark:not(:disabled):not(.disabled).active,.btn-botao-dark:not(:disabled):not(.disabled):active,.show>.btn-botao-dark.dropdown-toggle{color:#fff;background-color:#1d2124;border-color:#171a1d}.btn-botao-dark:not(:disabled):not(.disabled).active:focus,.btn-botao-dark:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-dark.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(82,88,93,.5)}.btn-botao-outline-primary{color:#007bff;border-color:#007bff}.btn-botao-outline-primary:hover{color:#fff;background-color:#007bff;border-color:#007bff}.btn-botao-outline-primary.focus,.btn-botao-outline-primary:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-botao-outline-primary.disabled,.btn-botao-outline-primary:disabled{color:#007bff;background-color:transparent}.btn-botao-outline-primary:not(:disabled):not(.disabled).active,.btn-botao-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-primary.dropdown-toggle{color:#fff;background-color:#007bff;border-color:#007bff}.btn-botao-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-botao-outline-secondary{color:#6c757d;border-color:#6c757d}.btn-botao-outline-secondary:hover{color:#fff;background-color:#6c757d;border-color:#6c757d}.btn-botao-outline-secondary.focus,.btn-botao-outline-secondary:focus{box-shadow:0 0 0 .2rem rgba(108,117,125,.5)}.btn-botao-outline-secondary.disabled,.btn-botao-outline-secondary:disabled{color:#6c757d;background-color:transparent}.btn-botao-outline-secondary:not(:disabled):not(.disabled).active,.btn-botao-outline-secondary:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-secondary.dropdown-toggle{color:#fff;background-color:#6c757d;border-color:#6c757d}.btn-botao-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(108,117,125,.5)}.btn-botao-outline-success{color:#28a745;border-color:#28a745}.btn-botao-outline-success:hover{color:#fff;background-color:#28a745;border-color:#28a745}.btn-botao-outline-success.focus,.btn-botao-outline-success:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-botao-outline-success.disabled,.btn-botao-outline-success:disabled{color:#28a745;background-color:transparent}.btn-botao-outline-success:not(:disabled):not(.disabled).active,.btn-botao-outline-success:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-success.dropdown-toggle{color:#fff;background-color:#28a745;border-color:#28a745}.btn-botao-outline-success:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-success:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-botao-outline-info{color:#17a2b8;border-color:#17a2b8}.btn-botao-outline-info:hover{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-botao-outline-info.focus,.btn-botao-outline-info:focus{box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-botao-outline-info.disabled,.btn-botao-outline-info:disabled{color:#17a2b8;background-color:transparent}.btn-botao-outline-info:not(:disabled):not(.disabled).active,.btn-botao-outline-info:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-info.dropdown-toggle{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-botao-outline-info:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-info:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-botao-outline-warning{color:#ffc107;border-color:#ffc107}.btn-botao-outline-warning:hover{color:#212529;background-color:#ffc107;border-color:#ffc107}.btn-botao-outline-warning.focus,.btn-botao-outline-warning:focus{box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.btn-botao-outline-warning.disabled,.btn-botao-outline-warning:disabled{color:#ffc107;background-color:transparent}.btn-botao-outline-warning:not(:disabled):not(.disabled).active,.btn-botao-outline-warning:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-warning.dropdown-toggle{color:#212529;background-color:#ffc107;border-color:#ffc107}.btn-botao-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-warning.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.btn-botao-outline-danger{color:#dc3545;border-color:#dc3545}.btn-botao-outline-danger:hover{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-botao-outline-danger.focus,.btn-botao-outline-danger:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-botao-outline-danger.disabled,.btn-botao-outline-danger:disabled{color:#dc3545;background-color:transparent}.btn-botao-outline-danger:not(:disabled):not(.disabled).active,.btn-botao-outline-danger:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-danger.dropdown-toggle{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-botao-outline-danger:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-danger.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-botao-outline-light{color:#f8f9fa;border-color:#f8f9fa}.btn-botao-outline-light:hover{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}.btn-botao-outline-light.focus,.btn-botao-outline-light:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.btn-botao-outline-light.disabled,.btn-botao-outline-light:disabled{color:#f8f9fa;background-color:transparent}.btn-botao-outline-light:not(:disabled):not(.disabled).active,.btn-botao-outline-light:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-light.dropdown-toggle{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}.btn-botao-outline-light:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-light:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-light.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.btn-botao-outline-dark{color:#343a40;border-color:#343a40}.btn-botao-outline-dark:hover{color:#fff;background-color:#343a40;border-color:#343a40}.btn-botao-outline-dark.focus,.btn-botao-outline-dark:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}.btn-botao-outline-dark.disabled,.btn-botao-outline-dark:disabled{color:#343a40;background-color:transparent}.btn-botao-outline-dark:not(:disabled):not(.disabled).active,.btn-botao-outline-dark:not(:disabled):not(.disabled):active,.show>.btn-botao-outline-dark.dropdown-toggle{color:#fff;background-color:#343a40;border-color:#343a40}.btn-botao-outline-dark:not(:disabled):not(.disabled).active:focus,.btn-botao-outline-dark:not(:disabled):not(.disabled):active:focus,.show>.btn-botao-outline-dark.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}
.btn-pesquisa{
	background-color: #fff!important;
	vertical-align: middle!important;
	height: 40px!important;
	margin: 0px!important;
}
.searchContainer{
	vertical-align: middle;
	margin: 0px!important;
	border: 1px solid #ddd;
	border-radius: 5px!important;
}
#filter{
	margin: 0px!important;
	padding: 6px 10px!important;
	height: 28px!important;
	margin-top: 2px;
	border: none;
	border-right: 1px solid #ddd;
}
.dados{
	vertical-align: middle;
}
.loader-banco{
	display: inline-grid;
}
.loader-tabela{
	display: inline-flex;
	margin-bottom: 5px;
}
.table thead{
	background-color: #f2f2f2!important;
}
.table tbody tr{
	background-color: #f5f5f5!important;
}
.table tbody tr:hover th{
	background-color: #000!important;
}